<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2><#= locale("simulator", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-three-col">
            <div class="tab" tab="battle">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("simulator", "battle") #></a></div>
                </div>
            </div>
			
            <div class="tab" tab="troops">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("simulator", "troops") #></a></div>
                </div>
            </div>

            <div class="tab" tab="bashpoints">
                <div class="tab-inner">
				    <div><a href="#" class="btn-icon btn-orange"><#= locale("simulator", "bashpoints") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">

        <!-- battle -->

        <div class="box-paper footer has-footer-upper twOverflow-content-battle">
            <h5 class="twx-section"><#= locale("simulator", "battle.header") #></h5>

            <form class="addForm1">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-simulate"><span class="btn btn-orange addSelected" tooltip="<#= locale("simulator", "simulate.tip") #>"><#= locale("simulator", "simulate.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			
            <form class="addForm">
                <table class="table table_vertical" id="simulation_result">
                    <colgroup>
                        <col>
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                        <col width="34px">
                    </colgroup>

                    <tbody>
                        <tr>
                            <th colspan="14"><#= locale("simulator", "battle.attacker") #></th>
                        </tr>
                        <tr>
                            <td style="padding-left:5px;">
                                <div style="height:34px;line-height:34px;"><span class="unitname"><#= locale("simulator", "battle.unit") #></span></div>
                                <div height="26px"><span class="icon-20x20-report-amount"></span><span class="unitname"> <#= locale("simulator", "battle.amount") #></span></div>
                                <div height="26px"><span class="icon-20x20-report-losses"></span><span class="unitname"> <#= locale("simulator", "battle.loses") #></span></div>
                                <div height="26px"><span class="icon-20x20-report-revive"></span><span class="unitname"> <#= locale("simulator", "battle.revived") #></span></div>
                                <div height="26px"><span class="unitname" tooltip="<#= locale("simulator", "battle.survivorsA") #>"> <#= locale("simulator", "battle.survivors") #></span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-spear"></span>
                                <div style="text-align:center;"><span id="spearA-amount" class="spearA-amount">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="spearA-losses" class="spearA-losses">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="spearA-revived" class="spearA-revived">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="spearA-survived" class="spearA-survived">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-sword"></span>
                                <div style="text-align:center;"><span id="swordA-amount" class="swordA-amount">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="swordA-losses" class="swordA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="swordA-revived" class="swordA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="swordA-survived" class="swordA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-axe"></span>
                                <div style="text-align:center;"><span id="axeA-amount" class="axeA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="axeA-losses" class="axeA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="axeA-revived" class="axeA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="axeA-survived" class="axeA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-archer"></span>
                                <div style="text-align:center;"><span id="archerA-amount" class="archerA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="archerA-losses" class="archerA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="archerA-revived" class="archerA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="archerA-survived" class="archerA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-light_cavalry"></span>
                                <div style="text-align:center;"><span id="lcA-amount" class="lcA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="lcA-losses" class="lcA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="lcA-revived" class="lcA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="lcA-survived" class="lcA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-mounted_archer"></span>
                                <div style="text-align:center;"><span id="maA-amount" class="maA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="maA-losses" class="maA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="maA-revived" class="maA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="maA-survived" class="maA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-heavy_cavalry"></span>
                                <div style="text-align:center;"><span id="hcA-amount" class="hcA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="hcA-losses" class="hcA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="hcA-revived" class="hcA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="hcA-survived" class="hcA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-ram"></span>
                                <div style="text-align:center;"><span id="ramA-amount" class="ramA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="ramA-losses" class="ramA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="ramA-revived" class="ramA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="ramA-survived" class="ramA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-catapult"></span>
                                <div style="text-align:center;"><span id="catapultA-amount" class="catapultA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="catapultA-losses" class="catapultA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="catapultA-revived" class="catapultA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="catapultA-survived" class="catapultA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-doppelsoldner"></span>
                                <div style="text-align:center;"><span id="berserkerA-amount" class="berserkerA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="berserkerA-losses" class="berserkerA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="berserkerA-revived" class="berserkerA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="berserkerA-survived" class="berserkerA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-trebuchet"></span>
                                <div style="text-align:center;"><span id="trebuchetA-amount" class="trebuchetA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="trebuchetA-losses" class="trebuchetA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="trebuchetA-revived" class="trebuchetA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="trebuchetA-survived" class="trebuchetA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-snob"></span>
                                <div style="text-align:center;"><span id="snobA-amount" class="snobA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="snobA-losses" class="snobA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="snobA-revived" class="snobA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="snobA-survived" class="snobA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-knight"></span>
                                <div style="text-align:center;"><span id="knightA-amount" class="knightA-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="knightA-losses" class="knightA-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="knightA-revived" class="knightA-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="knightA-survived" class="knightA-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><span style="float:left" class="icon-bg-red icon-34x34-attack" tooltip="<#= locale("simulator", "battle.attackModifier") #>"></span> 
                                <div class="center-34x"><span class="attackModifier"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-black icon-34x34-resource-food" tooltip="<#= locale("simulator", "battle.provisions") #>"></span> 
                                <div class="center-34x"><span class="attackProvisions"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-black icon-34x34-attack" tooltip="<#= locale("simulator", "battle.strentghAttack") #>"></span> 
                                <div class="center-34x"><span class="strentghAttack"></span></div>
							</td>
                        </tr>
                        <tr>
                            <td colspan="2"><span style="float:left" class="icon-bg-black icon-34x34-bashpoints-offensive" tooltip="<#= locale("simulator", "battle.attackBashpoint") #>"></span> 
                                <div class="center-34x"><span class="attackBashpoint"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-red icon-34x34-resource-food" tooltip="<#= locale("simulator", "battle.killedprovisions") #>"></span> 
                                <div class="center-34x"><span class="attackKilledProvisions"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-black icon-34x34-favourite" tooltip="<#= locale("simulator", "battle.strongesttype") #>"></span> 
                                <div class="center-34x"><span class="strongestTypeOff"></span></div>
							</td>
                        </tr>
                        <tr>
                            <td colspan="2"><span style="float:left" class="report-symbol icon-34x34-casualties bg-casualties" tooltip="<#= locale("simulator", "battle.killrateA") #>"></span> 
                                <div class="center-34x"><span class="killrateA"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-blue icon-34x34-resource-food" tooltip="<#= locale("simulator", "battle.survivedprovisions") #>"></span> 
                                <div class="center-34x"><span class="attackSurvivedProvisions"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-34x34-skill-attack_bonus" tooltip="<#= locale("simulator", "battle.doublestrength") #>"></span> 
                                <div class="center-34x"><span class="doubleStrength"></span></div>
							</td>
                        </tr>
                        <tr>
                            <th colspan="14"><#= locale("simulator", "battle.defender") #></th>
                        </tr>
                        <tr>
                            <td style="padding-left:5px;">
                                <div style="height:34px;line-height:34px;"><span class="unitname"><#= locale("simulator", "battle.unit") #></span></div>
                                <div height="26px"><span class="icon-20x20-report-amount"></span><span class="unitname"> <#= locale("simulator", "battle.amount") #></span></div>
                                <div height="26px"><span class="icon-20x20-report-losses"></span><span class="unitname"> <#= locale("simulator", "battle.loses") #></span></div>
                                <div height="26px"><span class="icon-20x20-report-revive"></span><span class="unitname"> <#= locale("simulator", "battle.revived") #></span></div>
                                <div height="26px"><span class="unitname"tooltip="<#= locale("simulator", "battle.survivorsD") #>"> <#= locale("simulator", "battle.survivors") #></span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-spear"></span>
                                <div style="text-align:center;"><span id="spearD-amount" class="spearD-amount">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="spearD-losses" class="spearD-losses">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="spearD-revived" class="spearD-revived">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="spearD-survived" class="spearD-survived">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-sword"></span>
                                <div style="text-align:center;"><span id="swordD-amount" class="swordD-amount">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="swordD-losses" class="swordD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="swordD-revived" class="swordD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="swordD-survived" class="swordD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-axe"></span>
                                <div style="text-align:center;"><span id="axeD-amount" class="axeD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="axeD-losses" class="axeD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="axeD-revived" class="axeD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="axeD-survived" class="axeD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-archer"></span>
                                <div style="text-align:center;"><span id="archerD-amount" class="archerD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="archerD-losses" class="archerD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="archerD-revived" class="archerD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="archerD-survived" class="archerD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-light_cavalry"></span>
                                <div style="text-align:center;"><span id="lcD-amount" class="lcD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="lcD-losses" class="lcD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="lcD-revived" class="lcD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="lcD-survived" class="lcD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-mounted_archer"></span>
                                <div style="text-align:center;"><span id="maD-amount" class="maD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="maD-losses" class="maD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="maD-revived" class="maD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="maD-survived" class="maD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-heavy_cavalry"></span>
                                <div style="text-align:center;"><span id="hcD-amount" class="hcD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="hcD-losses" class="hcD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="hcD-revived" class="hcD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="hcD-survived" class="hcD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-ram"></span>
                                <div style="text-align:center;"><span id="ramD-amount" class="ramD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="ramD-losses" class="ramD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="ramD-revived" class="ramD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="ramD-survived" class="ramD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-catapult"></span>
                                <div style="text-align:center;"><span id="catapultD-amount" class="catapultD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="catapultD-losses" class="catapultD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="catapultD-revived" class="catapultD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="catapultD-survived" class="catapultD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-doppelsoldner"></span>
                                <div style="text-align:center;"><span id="berserkerD-amount" class="berserkerD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="berserkerD-losses" class="berserkerD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="berserkerD-revived" class="berserkerD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="berserkerD-survived" class="berserkerD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-trebuchet"></span>
                                <div style="text-align:center;"><span id="trebuchetD-amount" class="trebuchetD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="trebuchetD-losses" class="trebuchetD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="trebuchetD-revived" class="trebuchetD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="trebuchetD-survived" class="trebuchetD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-snob"></span>
                                <div style="text-align:center;"><span id="snobD-amount" class="snobD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="snobD-losses" class="snobD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="snobD-revived" class="snobD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="snobD-survived" class="snobD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                            <td>
                                <span class="icon-bg-black icon-34x34-unit-knight"></span>
                                <div style="text-align:center;"><span id="knightD-amount" class="knightD-amount" style="text-align:center;">0</span></div>
                                <div style="text-align:center;color:#a1251f"><span id="knightD-losses" class="knightD-losses" style="text-align:center;color:#a1251f">0</span></div>
                                <div style="text-align:center;color:#009fff"><span id="knightD-revived" class="knightD-revived" style="text-align:center;color:#009fff">0</span></div>
                                <div style="text-align:center;color:#000000"><span id="knightD-survived" class="knightD-survived" style="text-align:center;color:#000000">0</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><span style="float:left" class="icon-bg-blue icon-34x34-defense" tooltip="<#= locale("simulator", "battle.defenceModifier") #>"></span> 
                                <div class="center-34x"><span class="defenceModifier"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-black icon-34x34-resource-food" tooltip="<#= locale("simulator", "battle.provisions") #>"></span> 
                                <div class="center-34x"><span class="defenceProvisions"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-black icon-34x34-defense" tooltip="<#= locale("simulator", "battle.strentghDefend") #>"></span> 
                                <div class="center-34x"><span class="strentghDefend"></span></div>
							</td>
                        </tr>
                        <tr>
                            <td colspan="2"><span style="float:left" class="icon-bg-black icon-34x34-bashpoints-defensive" tooltip="<#= locale("simulator", "battle.defenceBashpoint") #>"></span> 
                                <div class="center-34x"><span class="defenceBashpoint"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-red icon-34x34-resource-food" tooltip="<#= locale("simulator", "battle.killedprovisions") #>"></span> 
                                <div class="center-34x"><span class="defenceKilledProvisions"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-black icon-34x34-favourite" tooltip="<#= locale("simulator", "battle.strongesttype") #>"></span> 
                                <div class="center-34x"><span class="strongestTypeDef"></span></div>
							</td>
                        </tr>
                        <tr>
                            <td colspan="2"><span style="float:left" class="report-symbol icon-34x34-casualties bg-casualties" tooltip="<#= locale("simulator", "battle.killrateD") #>"></span> 
                                <div class="center-34x"><span class="killrateD"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-bg-blue icon-34x34-resource-food" tooltip="<#= locale("simulator", "battle.survivedprovisions") #>"></span> 
                                <div class="center-34x"><span class="defenceSurvivedProvisions"></span></div>
							</td>
                            <td colspan="6"><span style="float:left" class="icon-34x34-skill-better_hospital" tooltip="<#= locale("simulator", "battle.beds") #>"></span> 
                                <div class="center-34x"><span class="availableBeds"></span></div>
							</td>
                        </tr>
                        <tr id="predamage">
                            <th><span class="unitname"><#= locale("simulator", "battle.predamage") #>:</span></th>
                            <td colspan="13"><#= locale("simulator", "battle.downgrade") #><b class="wallfrompre" id="wallfrompre">20</b><#= locale("simulator", "battle.to") #><b class="walltopre" id="walltopre">20</b></td>
                        </tr>
                        <tr id="ramdamage">
                            <th><span class="unitname"><#= locale("simulator", "battle.damage") #>:</span></th>
                            <td colspan="13"><#= locale("simulator", "battle.downgrade") #><b class="wallfrom" id="wallfrom">20</b><#= locale("simulator", "battle.to") #><b class="wallto" id="wallto">20</b></td>
                        </tr>
                        <tr id="catapultdamage">
                            <th><span class="unitname"><#= locale("simulator", "battle.damageCatapult") #>:</span></th>
                            <td colspan="13"><span class="target"></span><#= locale("simulator", "battle.downgradeCatapult") #><b class="buildingfrom" id="buildingfrom"> </b><#= locale("simulator", "battle.to") #><b class="buildingto" id="buildingto"> </b></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			<form class="addForm1">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col>
                        <col width="33%">
                        <col width="33%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td colspan="3" class="item-insert"><span class="btn btn-orange addSelected"><#= locale("simulator", "battle.insert") #></span></td>
						</tr>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="village" value="" autocomplete="off" placeholder="<#= locale("simulator", "id") #>">
                            </td>
                            <td class="item-insertV"><span class="btn btn-orange addSelected" tooltip="<#= locale("simulator", "battle.insertV") #>"><#= locale("simulator", "battle.insertvillage") #></span></td>
                            <td class="item-insertVD"><span class="btn btn-orange addSelected" tooltip="<#= locale("simulator", "battle.insertVD") #>"><#= locale("simulator", "battle.insertvillage") #></span></td>
						</tr>
                        <tr>
                            <td class="item-input">
                                <input type="text" class="textfield-border" id="preset" value="" autocomplete="off" placeholder="<#= locale("simulator", "name") #>">
                            </td>
                            <td class="item-insertP"><span class="btn btn-orange addSelected" tooltip="<#= locale("simulator", "battle.insertP") #>"><#= locale("simulator", "battle.insertpreset") #></span></td>
                            <td class="item-insertPD"><span class="btn btn-orange addSelected" tooltip="<#= locale("simulator", "battle.insertPD") #>"><#= locale("simulator", "battle.insertpreset") #></span></td>
						</tr>
                    </tbody>
                </table>
            </form>
			<form class="addForm">
                <table class="table" id="units">
                    <colgroup>
                        <col>
                        <col width="33%">
                        <col width="33%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th><#= locale("simulator", "battle.attacker") #></th>
                            <th><#= locale("simulator", "battle.defender") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-spear"></span><span class="unitname"> <#= locale("common", "spear") #></span></td>
                            <td><input id="spearA" class="unit-input-simulator" type="number" value="0" wtx-context="8DC5EF4E-1D3F-452A-8571-42A2CAE5DC1C"></td>
                            <td><input id="spearD" class="unit-input-simulator" type="number" value="0" wtx-context="32E792F5-4705-46B4-BA5A-9B1B410E8C11"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-sword"></span><span class="unitname"> <#= locale("common", "sword") #></span></td>
                            <td><input id="swordA" class="unit-input-simulator" type="number" value="0" wtx-context="CF865D26-64C0-4BF2-8F08-21CE8656A334"></td>
                            <td><input id="swordD" class="unit-input-simulator" type="number" value="0" wtx-context="835EFAEA-2D34-465B-8AC1-ACE363F605AB"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-axe"></span><span class="unitname"> <#= locale("common", "axe") #></span></td>
                            <td><input id="axeA" class="unit-input-simulator" type="number" value="0" wtx-context="99147BD4-7928-4D76-8613-61088B81E1BF"></td>
                            <td><input id="axeD" class="unit-input-simulator" type="number" value="0" wtx-context="5E82BCF4-A38E-42A6-887A-79B6A068D0ED"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-archer"></span><span class="unitname"> <#= locale("common", "archer") #></span></td>
                            <td><input id="archerA" class="unit-input-simulator" type="number" value="0" wtx-context="F2CD8E79-5C3A-4308-95AA-C292DB75E017"></td>
                            <td><input id="archerD" class="unit-input-simulator" type="number" value="0" wtx-context="5993D6D0-8A51-49CD-88A4-30797CB383EA"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-light_cavalry"></span><span class="unitname"> <#= locale("common", "light_cavalry") #></span></td>
                            <td><input id="lcA" class="unit-input-simulator" type="number" value="0" wtx-context="5D82F230-641D-4D0F-8B52-EB848FB2A2A1"></td>
                            <td><input id="lcD" class="unit-input-simulator" type="number" value="0" wtx-context="50349433-AA98-41FB-BF99-9BB0CFF3857C"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-mounted_archer"></span><span class="unitname"> <#= locale("common", "mounted_archer") #></span></td>
                            <td><input id="maA" class="unit-input-simulator" type="number" value="0" wtx-context="66341B10-B615-43DF-824B-1D53D889EF6E"></td>
                            <td><input id="maD" class="unit-input-simulator" type="number" value="0" wtx-context="9AD03030-6189-482A-9F41-C3C4E2FBB1AC"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-heavy_cavalry"></span><span class="unitname"> <#= locale("common", "heavy_cavalry") #></span></td>
                            <td><input id="hcA" class="unit-input-simulator" type="number" value="0" wtx-context="00E6F59C-13F8-4368-82E0-7505936546C3"></td>
                            <td><input id="hcD" class="unit-input-simulator" type="number" value="0" wtx-context="DC44138D-F849-4B6E-87E1-F7721CF3F787"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-ram"></span><span class="unitname"> <#= locale("common", "ram") #></span></td>
                            <td><input id="ramA" class="unit-input-simulator" type="number" value="0" wtx-context="F87CF418-DB3A-4414-8F44-874535D682A7"></td>
                            <td><input id="ramD" class="unit-input-simulator" type="number" value="0" wtx-context="139366C4-479C-49EA-9545-2F1B268A51C8"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-catapult"></span><span class="unitname"> <#= locale("common", "catapult") #></span></td>
                            <td><input id="catapultA" class="unit-input-simulator" type="number" value="0" wtx-context="511D5503-6950-4FB8-8CD0-414C0D4726A5"></td>
                            <td><input id="catapultD" class="unit-input-simulator" type="number" value="0" wtx-context="2E81787B-ABC2-420D-8A3C-CE73523AA333"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-doppelsoldner"></span><span class="unitname"> <#= locale("common", "doppelsoldner") #></span></td>
                            <td><input id="berserkerA" class="unit-input-simulator" type="number" value="0" wtx-context="7E10139B-D00D-488E-8017-1A4BBDDA565B"></td>
                            <td><input id="berserkerD" class="unit-input-simulator" type="number" value="0" wtx-context="D07902A3-E06C-4FE7-8729-BA330E1102A5"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-trebuchet"></span><span class="unitname"> <#= locale("common", "trebuchet") #></span></td>
                            <td><input id="trebuchetA" class="unit-input-simulator" type="number" value="0" wtx-context="A9656A00-573F-4FD6-B714-35CBCA31EBB9"></td>
                            <td><input id="trebuchetD" class="unit-input-simulator" type="number" value="0" wtx-context="0114F99E-A67A-4116-86A8-5A1DEA6DC9F9"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-snob"></span><span class="unitname"> <#= locale("common", "snob") #></span></td>
                            <td><input id="snobA" class="unit-input-simulator" type="number" value="0" wtx-context="368791FA-0308-4D3D-9FFE-B083D16930DA"></td>
                            <td><input id="snobD" class="unit-input-simulator" type="number" value="0" wtx-context="17B37D78-12C4-4420-8AF1-76F89F31756A"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-unit-knight"></span><span class="unitname"> <#= locale("common", "knight") #></span></td>
                            <td><input id="knightA" class="unit-input-simulator" type="number" value="0" wtx-context="D9570F6D-9C0E-4EF7-8D5F-3C4D33C438C5"></td>
                            <td><input id="knightD" class="unit-input-simulator" type="number" value="0" wtx-context="FAF6B41A-0256-49D6-B171-B40369AEA815"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-church"></span> <#= locale("simulator", "battle.faith") #></td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="beliefAttacker" class="beliefAttacker" id="beliefAttacker">
                                        <option value="50">0</option>
                                        <option value="100" selected>1</option>
                                        <option value="105">2</option>
                                        <option value="110">3</option>
                                    </select>
                                </span>
							</td>
							<td>
                                <span class="ff-cell-fix">
                                    <select data-setting="beliefDefender" class="beliefDefender" id="beliefDefender">
                                        <option value="50">0</option>
                                        <option value="100" selected>1</option>
                                        <option value="105">2</option>
                                        <option value="110">3</option>
                                    </select>
                                </span>
							</td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-moral"></span> <#= locale("simulator", "battle.morale") #></td>
                            <td><input class="unit-input-simulator" type="number" value="100" id="morale"> %</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-clover"></span> <#= locale("simulator", "battle.luck") #></td>
                            <td><input class="unit-input-simulator" type="number" value="0" id="luck"> %</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-building-wall"></span> <#= locale("simulator", "battle.wall") #></td>
                            <td></td>
                            <td><input class="unit-input-simulator" type="number" value="0" id="wall"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-26x26-night-mode"></span> <#= locale("simulator", "battle.nightbonus") #></td>
                            <td></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-nightBonus">
                                    <input id="settings-nightBonus" data-setting="nightBonus" type="checkbox">
                                </label>
							</td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-premium_officer_leader"></span> <#= locale("simulator", "battle.leader") #></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-officerLeader">
                                    <input id="settings-officerLeader" data-setting="officerLeader" type="checkbox">
                                </label>
							</td>							
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-premium_officer_medic"></span> <#= locale("simulator", "battle.medic") #></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-officerMedic">
                                    <input id="settings-officerMedic" data-setting="officerMedic" type="checkbox">
                                </label>
							</td>							
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-120x120-skill-medic"></span> <#= locale("simulator", "battle.doctor") #></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-skillMedic">
                                    <input id="settings-skillMedic" data-setting="skillMedic" type="checkbox">
                                </label>
							</td>							
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-120x120-skill-attack_bonus"></span> <#= locale("simulator", "battle.attack-bonus") #></td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataMaster" class="dataMaster" id="master">
                                        <option value="0" selected>0</option>
                                        <option value="2">1</option>
                                        <option value="4">2</option>
                                        <option value="6">3</option>
                                        <option value="8">4</option>
                                        <option value="10">5</option>
                                    </select>
                                </span>
							</td>							
                            <td></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-120x120-skill-iron_walls"></span> <#= locale("simulator", "battle.iron-walls") #></td>							
                            <td></td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataWalls" class="dataWalls" id="walls">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </span>
							</td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-120x120-skill-better_hospital"></span> <#= locale("simulator", "battle.clinique") #></td>							
                            <td></td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataClinique" class="dataClinique" id="clinique">
                                        <option value="0" selected>0</option>
                                        <option value="100">1</option>
                                        <option value="200">2</option>
                                        <option value="300">3</option>
                                        <option value="400">4</option>
                                        <option value="500">5</option>
                                        <option value="600">6</option>
                                        <option value="700">7</option>
                                        <option value="800">8</option>
                                        <option value="900">9</option>
                                        <option value="1000">10</option>
                                    </select>
                                </span>
							</td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-building-hospital"></span> <#= locale("simulator", "battle.hospital") #></td>							
                            <td></td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataHospital" class="dataHospital" id="hospital">
                                        <option value="0" selected>0</option>
                                        <option value="100">1</option>
                                        <option value="129">2</option>
                                        <option value="167">3</option>
                                        <option value="215">4</option>
                                        <option value="278">5</option>
                                        <option value="359">6</option>
                                        <option value="464">7</option>
                                        <option value="599">8</option>
                                        <option value="774">9</option>
                                        <option value="1000">10</option>
                                    </select>
                                </span>
							</td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <form class="addForm1">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="33%">
                        <col width="34%">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="3"><span class="icon-bg-black icon-34x34-paladin"></span> <#= locale("simulator", "battle.equip") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3"><#= locale("simulator", "battle.defender") #></td>
                        </tr>
                        <tr>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataEquip1" class="dataEquip1" id="equip1">
                                        <option value="none" selected>brak</option>
                                        <option value="spear"><#= locale("simulator", "battle.halberd") #></option>
                                        <option value="sword"><#= locale("simulator", "battle.longsword") #></option>
                                        <option value="axe"><#= locale("simulator", "battle.battleaxe") #></option>
                                        <option value="archer"><#= locale("simulator", "battle.longbow") #></option>
                                        <option value="light_cavalry"><#= locale("simulator", "battle.lance") #></option>
                                        <option value="mounted_archer"><#= locale("simulator", "battle.compositebow") #></option>
                                        <option value="heavy_cavalry"><#= locale("simulator", "battle.banner") #></option>
                                        <option value="ram"><#= locale("simulator", "battle.star") #></option>
                                        <option value="catapult"><#= locale("simulator", "battle.bonfire") #></option>
                                        <option value="snob"><#= locale("simulator", "battle.scepter") #></option>
                                    </select>
                                </span>
							</td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataEquip2" class="dataEquip2" id="equip2">
                                        <option value="none" selected>brak</option>
                                        <option value="spear"><#= locale("simulator", "battle.halberd") #></option>
                                        <option value="sword"><#= locale("simulator", "battle.longsword") #></option>
                                        <option value="axe"><#= locale("simulator", "battle.battleaxe") #></option>
                                        <option value="archer"><#= locale("simulator", "battle.longbow") #></option>
                                        <option value="light_cavalry"><#= locale("simulator", "battle.lance") #></option>
                                        <option value="mounted_archer"><#= locale("simulator", "battle.compositebow") #></option>
                                        <option value="heavy_cavalry"><#= locale("simulator", "battle.banner") #></option>
                                        <option value="ram"><#= locale("simulator", "battle.star") #></option>
                                        <option value="catapult"><#= locale("simulator", "battle.bonfire") #></option>
                                        <option value="snob"><#= locale("simulator", "battle.scepter") #></option>
									</select>
                                </span>
							</td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataEquip3" class="dataEquip3" id="equip3">
                                        <option value="none" selected>brak</option>
                                        <option value="spear"><#= locale("simulator", "battle.halberd") #></option>
                                        <option value="sword"><#= locale("simulator", "battle.longsword") #></option>
                                        <option value="axe"><#= locale("simulator", "battle.battleaxe") #></option>
                                        <option value="archer"><#= locale("simulator", "battle.longbow") #></option>
                                        <option value="light_cavalry"><#= locale("simulator", "battle.lance") #></option>
                                        <option value="mounted_archer"><#= locale("simulator", "battle.compositebow") #></option>
                                        <option value="heavy_cavalry"><#= locale("simulator", "battle.banner") #></option>
                                        <option value="ram"><#= locale("simulator", "battle.star") #></option>
                                        <option value="catapult"><#= locale("simulator", "battle.bonfire") #></option>
                                        <option value="snob"><#= locale("simulator", "battle.scepter") #></option>
									</select>
                                </span>
							</td>
						</tr>
                        <tr>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataLevel1" class="dataLevel1" id="level1">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
									</select>
                                </span>
							</td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataLevel2" class="dataLevel2" id="level2">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
									</select>
                                </span>
							</td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataLevel3" class="dataLevel3" id="level3">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
									</select>
                                </span>
							</td>
						</tr>
                        <tr>
                            <td colspan="3"><#= locale("simulator", "battle.attacker") #></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span class="ff-cell-fix">
                                    <select data-setting="dataEquip4" class="dataEquip4" id="equip4">
                                        <option value="none" selected>brak</option>
                                        <option value="spear"><#= locale("simulator", "battle.halberd") #></option>
                                        <option value="sword"><#= locale("simulator", "battle.longsword") #></option>
                                        <option value="axe"><#= locale("simulator", "battle.battleaxe") #></option>
                                        <option value="archer"><#= locale("simulator", "battle.longbow") #></option>
                                        <option value="light_cavalry"><#= locale("simulator", "battle.lance") #></option>
                                        <option value="mounted_archer"><#= locale("simulator", "battle.compositebow") #></option>
                                        <option value="heavy_cavalry"><#= locale("simulator", "battle.banner") #></option>
                                        <option value="ram"><#= locale("simulator", "battle.star") #></option>
                                        <option value="catapult"><#= locale("simulator", "battle.bonfire") #></option>
                                        <option value="snob"><#= locale("simulator", "battle.scepter") #></option>
                                    </select>
                                </span>
							</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span class="ff-cell-fix">
                                    <select data-setting="dataLevel4" class="dataLevel4" id="level4">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
									</select>
                                </span>
							</td>
                        </tr>
                    </tbody>
                </table>
            </form>
			
            <form class="addForm1">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th><span class="icon-34x34-unit-special-ability-catapult"></span> <#= locale("simulator", "battle.target") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="catapultTarget" class="catapultTarget" id="catapultTarget">
                                        <option value="0" selected>brak</option>
                                        <option value="wall"><#= locale("common", "wall") #></option>
                                        <option value="headquarter"><#= locale("common", "headquarter") #></option>
                                        <option value="farm"><#= locale("common", "farm") #></option>
                                        <option value="warehouse"><#= locale("common", "warehouse") #></option>
                                        <option value="barracks"><#= locale("common", "barracks") #></option>
                                        <option value="church"><#= locale("common", "church") #></option>
                                        <option value="academy"><#= locale("common", "academy") #></option>
                                        <option value="preceptory"><#= locale("common", "preceptory") #></option>
                                        <option value="tavern"><#= locale("common", "tavern") #></option>
                                        <option value="hospital"><#= locale("common", "hospital") #></option>
                                        <option value="rally_point"><#= locale("common", "rally_point") #></option>
                                        <option value="statue"><#= locale("common", "statue") #></option>
                                        <option value="market"><#= locale("common", "market") #></option>
                                        <option value="timber_camp"><#= locale("common", "timber_camp") #></option>
                                        <option value="clay_pit"><#= locale("common", "clay_pit") #></option>
                                        <option value="iron_mine"><#= locale("common", "iron_mine") #></option>
									</select>
                                </span>
							</td>
                        </tr>
                        <tr>
                            <td><input width="60px" class="buildingLevel" type="number" value="0" id="buildingLevel"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- troops -->

        <div class="box-paper footer has-footer-upper twOverflow-content-troops">
            <h5 class="twx-section"><#= locale("simulator", "troops.header") #></h5>

            <form class="addForm1">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-check-T"><span class="btn btn-orange addSelected" tooltip="<#= locale("simulator", "checkT.tip") #>"><#= locale("simulator", "check.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			
            <form class="addForm">
                <table class="table">
                    <colgroup>
                        <col width="33%">
                        <col width="33%">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="3"><#= locale("simulator", "troops.th") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-resource-wood" tooltip="<#= locale("simulator", "wood") #>"></span> 
                                <div class="center-34x"><span class="wood"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-time-per-tile" tooltip="<#= locale("simulator", "speed") #>"></span> 
                                <div class="center-34x"><span class="speed"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-attack" tooltip="<#= locale("simulator", "attack") #>"></span> 
                                <div class="center-34x"><span class="attack"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-resource-clay" tooltip="<#= locale("simulator", "clay") #>"></span> 
                                <div class="center-34x"><span class="clay"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-units" tooltip="<#= locale("simulator", "discipline") #>"></span> 
                                <div class="center-34x"><span class="discipline"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-defense" tooltip="<#= locale("simulator", "definf") #>"></span> 
                                <div class="center-34x"><span class="definf"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-resource-iron" tooltip="<#= locale("simulator", "iron") #>"></span> 
                                <div class="center-34x"><span class="iron"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-weight" tooltip="<#= locale("simulator", "load") #>"></span> 
                                <div class="center-34x"><span class="load"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-defense-cavalry" tooltip="<#= locale("simulator", "defcav") #>"></span> 
                                <div class="center-34x"><span class="defcav"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-resource-food" tooltip="<#= locale("simulator", "food") #>"></span> 
                                <div class="center-34x"><span class="food"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-time" tooltip="<#= locale("simulator", "buildtime") #>"></span>
                                <div class="center-34x"><span class="buildtime"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-defense-archer" tooltip="<#= locale("simulator", "defarc") #>"></span> 
                                <div class="center-34x"><span class="defarc"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-attackinf" tooltip="<#= locale("simulator", "attackinf") #>"></span> 
                                <div class="center-34x"><span class="attackinf"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-attackcav" tooltip="<#= locale("simulator", "attackcav") #>"></span>
                                <div class="center-34x"><span class="attackcav"></span></div>
                            </td>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-attackarc" tooltip="<#= locale("simulator", "attackarc") #>"></span> 
                                <div class="center-34x"><span class="attackarc"></span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table" id="unitsCost">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="2"><#= locale("simulator", "troops.units") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-spear"></span> <#= locale("common", "spear") #><input class="unit-cost" id="spearCost" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-sword"></span> <#= locale("common", "sword") #><input class="unit-cost" id="swordCost" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-axe"></span> <#= locale("common", "axe") #><input class="unit-cost" id="axeCost" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-archer"></span> <#= locale("common", "archer") #><input class="unit-cost" id="archerCost" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-light_cavalry"></span> <#= locale("common", "light_cavalry") #><input class="unit-cost" id="lcCost" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-mounted_archer"></span> <#= locale("common", "mounted_archer") #><input class="unit-cost" id="maCost" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-heavy_cavalry"></span> <#= locale("common", "heavy_cavalry") #><input class="unit-cost" id="hcCost" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-ram"></span> <#= locale("common", "ram") #><input class="unit-cost" id="ramCost" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-doppelsoldner"></span> <#= locale("common", "doppelsoldner") #><input class="unit-cost" id="berserkerCost" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-trebuchet"></span> <#= locale("common", "trebuchet") #><input class="unit-cost" id="trebuchetCost" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-snob"></span> <#= locale("common", "snob") #><input class="unit-cost" id="snobCost" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-knight"></span> <#= locale("common", "knight") #><input class="unit-cost" id="knightCost" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-catapult"></span> <#= locale("common", "catapult") #><input class="unit-cost" id="catapultCost" type="text" value=""></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="2"><#= locale("simulator", "troops.building") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-building-barracks"></span> <#= locale("simulator", "troops.barracks") #></td>
                            <td><input class="unit-barracks" type="text" value="25" height="34px" id="barracks"></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-34x34-building-preceptory"></span> <#= locale("simulator", "troops.preceptory") #></td>
                            <td>
							    <span class="ff-cell-fix">
                                    <select data-setting="dataOrder" class="dataOrder" id="order">
                                        <option value="none" selected><#= locale("simulator", "troops.none") #></option>
                                        <option value="deff"><#= locale("simulator", "troops.templars") #></option>
                                        <option value="off"><#= locale("simulator", "troops.teutonic") #></option>
                                    </select>
                                </span>
								<input class="unit-preceptory" type="text" value="0" height="34px" id="preceptory">
							</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="2"><#= locale("simulator", "troops.effects") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="icon-bg-black icon-120x120-domination"></span> <#= locale("simulator", "troops.domination") #></td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" for="settings-domination">
                                    <input id="settings-domination" data-setting="dataDomination" type="checkbox">
                                </label>
							</td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-120x120-skill-recruit_speed_bonus"></span> <#= locale("simulator", "troops.training") #></td>
                            <td>
                                <span class="ff-cell-fix">
                                    <select data-setting="dataTraining" class="dataTraining" id="training">
                                        <option value="1.00" selected>0</option>
                                        <option value="1.04">1</option>
                                        <option value="1.08">2</option>
                                        <option value="1.12">3</option>
                                        <option value="1.16">4</option>
                                        <option value="1.20">5</option>
                                    </select>
                                </span>
							</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- bashpoints -->

        <div class="box-paper footer has-footer-upper twOverflow-content-bashpoints">
            <h5 class="twx-section"><#= locale("simulator", "bashpoints.header") #></h5>

            <form class="addForm1">
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="item-check"><span class="btn btn-orange addSelected" tooltip="<#= locale("simulator", "check.tip") #>"><#= locale("simulator", "check.btn") #></span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
			
            <form class="addForm">
                <table class="table">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="2"><#= locale("simulator", "bashpoints.th") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-attack"></span>  <#= locale("simulator", "bashpoints.attacker") #></td>
                            <td class="points-att"></td>
                        </tr>
                        <tr>
                            <td><span style="float:left" class="icon-bg-black icon-34x34-defense"></span>  <#= locale("simulator", "bashpoints.defender") #></td>
                            <td class="points-def"></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table" id="unitsBash">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th colspan="2"><#= locale("simulator", "bashpoints.killed") #></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-spear"></span> <#= locale("common", "spear") #><input class="unit-bash" id="spearBash" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-sword"></span> <#= locale("common", "sword") #><input class="unit-bash" id="swordBash" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-axe"></span> <#= locale("common", "axe") #><input class="unit-bash" id="axeBash" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-archer"></span> <#= locale("common", "archer") #><input class="unit-bash" id="archerBash" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-light_cavalry"></span> <#= locale("common", "light_cavalry") #><input class="unit-bash" id="lcBash" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-mounted_archer"></span> <#= locale("common", "mounted_archer") #><input class="unit-bash" id="maBash" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-heavy_cavalry"></span> <#= locale("common", "heavy_cavalry") #><input class="unit-bash" id="hcBash" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-ram"></span> <#= locale("common", "ram") #><input class="unit-bash" id="ramBash" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-doppelsoldner"></span> <#= locale("common", "doppelsoldner") #><input class="unit-bash" id="berserkerBash" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-trebuchet"></span> <#= locale("common", "trebuchet") #><input class="unit-bash" id="trebuchetBash" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-snob"></span> <#= locale("common", "snob") #><input class="unit-bash" id="snobBash" type="text" value=""></td>
                            <td><span class="icon-bg-black icon-44x44-unit-knight"></span> <#= locale("common", "knight") #><input class="unit-bash" id="knightBash" type="text" value=""></td>
                        </tr>
                        <tr>
                            <td><span class="icon-bg-black icon-44x44-unit-catapult"></span> <#= locale("common", "catapult") #><input class="unit-bash" id="catapultBash" type="text" value=""></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>